.header {
    font-family: 'Jua', sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    background-color: aquamarine;
    color: black;
}

.para {
    font-family: 'Jua', sans-serif;
    font-size: 15px;
    text-align: center;
    color: black;
}

body {
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    color: black;
    height: 100%;
}

.text {
    font-family: 'Jua', sans-serif;
    font-size: 15px;
    color: white;
}

.navbar {
    overflow: hidden;
    background-color: rgb(15, 101, 230);
    color: white;
}

.navbar l {
    float: left;
    display: block;
    text-align: center;
    color: white;
    padding: 100px;
    text-decoration: none;
}

.float_right {
    float: right;
}

h2 {
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
}

.align-right {
    align-self: right;

}

.slideshow_images {
    width: auto;
    height: 100%;
}


.footer {
    padding: 5px;
    text-align: center;
    background-color: rgb(15, 101, 230);
    font-size: 15px;
    color: white;
}
